---
import { InviterService } from "../../js/backend.mjs";
import Layout from "../../layouts/Layout.astro";
const { id } = Astro.params;

const Inviter = await InviterService.getById(id);

const Film = await InviterService.getFilms(id);

const Activites = await InviterService.getActivities(id);
---

<Layout title={`Détails de l'Invité - ${Inviter.nom} ${Inviter.prenom}`}>
    <div class="max-w-4xl mx-auto py-12 px-6 space-y-8">
        <div class="bg-white rounded-lg shadow-lg p-6 mb-6">
            <div class="flex items-center gap-6">
                <img
                    src={Inviter.photo}
                    alt="Photo de l'invité"
                    class="w-32 h-32 object-cover rounded-full border-4 border-yellow-500"
                />
                <div>
                    <h1 class="text-3xl font-semibold text-gray-900">
                        {Inviter.nom}
                        {Inviter.prenom}
                    </h1>
                    <p class="text-xl text-gray-600">{Inviter.role}</p>
                    <p class="mt-2 text-gray-800">{Inviter.biographie}</p>
                    <p class="mt-2 text-gray-600">
                        Email: <a
                            href={`mailto:${Inviter.email}`}
                            class="text-blue-500">{Inviter.email}</a
                        >
                    </p>
                </div>
            </div>
        </div>

        {
            Film.length > 0 && (
                <div class="bg-white rounded-lg shadow-lg p-6 mb-6">
                    <h2 class="text-2xl font-semibold text-gray-900 mb-4">
                        Films Associés
                    </h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                        {Film.map((Film) => (
                            <div
                                class={Film.id}
                                class="bg-gray-50 rounded-lg shadow-md p-4"
                            >
                                <h3 class="text-xl font-semibold text-gray-800">
                                    {Film.nom}
                                </h3>
                            </div>
                        ))}
                    </div>
                </div>
            )
        }

        {
            Activites.length > 0 && (
                <div class="bg-white rounded-lg shadow-lg p-6 mb-6">
                    <h2 class="text-2xl font-semibold text-gray-900 mb-4">
                        Activités Associées
                    </h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                        {Activites.map((Activites) => (
                            <div
                                class={Activites.id}
                                class="bg-gray-50 rounded-lg shadow-md p-4"
                            >
                                <h3 class="text-xl font-semibold text-gray-800">
                                    {Activites.nom}
                                </h3>
                            </div>
                        ))}
                    </div>
                </div>
            )
        }
    </div>
</Layout>
