---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import image from "../assets/img/image.webp";
import image1 from "../assets/img/image-1.webp";
import image2 from "../assets/img/image-2.webp";
import imageA from "../assets/img/axone de montbeliard (1) 1.webp";
import image4 from "../assets/img/image 4.webp";
import image5 from "../assets/img/image 6.webp";
import image6 from "../assets/img/image-8.webp";
import Hero from "../components/Hero.astro";
import logo1 from "../assets/partenaires/partenaire1.webp";
import logo2 from "../assets/partenaires/partenaire2.webp";
import logo3 from "../assets/partenaires/partenaire3.webp";
import logo4 from "../assets/partenaires/partenaire4.webp";
---

<Layout title="ACCUEIL">
    <Hero page="index">
        <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-start justify-center text-white pl-8 py-16">
            <h1 class="text-4xl font-bold mb-4">Vis'Sport Festival</h1>
            <p class="text-xl max-w-2xl">Du 15 au 18 juin 2024 - Montbéliard</p>
        </div>
    </Hero>

    <main class="py-12">
        <section class="px-6 max-w-5xl mx-auto text-left space-y-6">
            <div class="flex flex-col md:flex-row items-center gap-8">
                <div class="text-xl text-gray-700 space-y-6 md:w-1/2">
                    <p>
                        Le Vis'Sport est un festival unique qui fusionne
                        l'univers de l'audiovisuel et du sport, créant un espace
                        de partage et de découverte pour tous.
                    </p>
                    <p>
                        Cet événement vise à offrir une expérience immersive en
                        alliant le cinéma et le sport sous toutes leurs formes,
                        à travers des projections, des compétitions et des
                        rencontres.
                    </p>
                    <p>
                        Nous voulons que chaque participant vive des moments
                        inoubliables, qu'ils soient spectateurs ou acteurs du
                        festival. Le Vis'Sport incarne l'énergie, la
                        convivialité et l'innovation !
                    </p>
                </div>
                <Image
                    src={image}
                    alt="Représentation du festival"
                    width={300}
                    height={500}
                    class="rounded-lg shadow-lg w-full md:w-1/2"
                />
            </div>
            <div class="mt-10">
                <p class="text-xl font-medium text-gray-700">
                    Symbolisé par le soleil, il incarne la joie, l'énergie et
                    l'ouverture à tous les publics. Que vous soyez amateur de
                    cinéma, de sport, ou simplement curieux, le Vis'Sport vous
                    propose une programmation dynamique et accessible.
                </p>
            </div>
        </section>

        <section class="bg-gradient-to-b from-orange-500 to-orange-300 py-12 mt-16">
            <div class="max-w-4xl mx-auto space-y-12">
                <div class="flex flex-col md:flex-row items-start gap-8">
                    <Image
                        src={image1}
                        alt="Sportif dessiné"
                        width={250}
                        height={400}
                        class="w-48 md:w-56 rounded-lg shadow-lg"
                    />
                    <div class="text-white text-lg space-y-3 text-left">
                        <p class="text-2xl font-semibold">
                            Le Vis'Sport propose aussi une version numérique,
                            permettant à ceux éloignés du lieu de participer.
                        </p>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row-reverse items-start gap-8">
                    <Image
                        src={image2}
                        alt="Sunny, la mascotte"
                        width={150}
                        height={500}
                        class="w-48 md:w-56 rounded-lg shadow-lg"
                    />
                    <div class="text-white text-lg space-y-3 text-left">
                        <p class="font-semibold text-2xl">
                            Voici Sunny, la mascotte du Vis'Sport ! Ce soleil
                            rayonnant est à la fois super gentil et ultra-sportif.
                        </p>
                        <p class="font-semibold text-2xl">
                            Que ce soit pour encourager sur le terrain ou dans
                            les gradins, il est là pour apporter de la chaleur
                            et de la bonne humeur à tous !
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="max-w-5xl mx-auto py-12 px-6 grid md:grid-cols-2 lg:grid-cols-4 gap-12">
            <div class="bg-white rounded-lg shadow-lg p-6 text-left">
                <a href="/lieu" class="block">
                    <Image
                        src={imageA}
                        alt="L'Axone Montbéliard"
                        width={300}
                        height={450}
                        class="mx-auto w-full rounded-lg shadow-md"
                    />
                    <h3 class="text-gray-900 font-semibold text-2xl mt-4 hover:text-orange-500 cursor-pointer">
                        Lieu
                    </h3>
                    <p class="text-gray-600">
                        Découvrez où se déroule le festival.
                    </p>
                </a>
            </div>

            <div class="bg-white rounded-lg shadow-lg p-6 text-left">
                <a href="/programme" class="block">
                    <Image
                        src={image4}
                        alt="Programme des activités"
                        width={300}
                        height={450}
                        class="mx-auto w-full rounded-lg shadow-md"
                    />
                    <h3 class="text-gray-900 font-semibold text-2xl mt-4 hover:text-orange-500 cursor-pointer">
                        Programme
                    </h3>
                    <p class="text-gray-600">
                        Explorez les projections et événements.
                    </p>
                </a>
            </div>

            <div class="bg-white rounded-lg shadow-lg p-6 text-left">
                <a href="/films" class="block">
                    <Image
                        src={image5}
                        alt="Section Films"
                        width={300}
                        height={450}
                        class="mx-auto w-full rounded-lg shadow-md"
                    />
                    <h3 class="text-gray-900 font-semibold text-2xl mt-4 hover:text-orange-500 cursor-pointer">
                        Films
                    </h3>
                    <p class="text-gray-600">
                        Découvrez les affiches, synopsis et bandes-annonces.
                    </p>
                </a>
            </div>

            <div class="bg-white rounded-lg shadow-lg p-6 text-left">
                <a href="/invites" class="block">
                    <Image
                        src={image6}
                        alt="Invités du festival"
                        width={300}
                        height={450}
                        class="mx-auto w-full rounded-lg shadow-md"
                    />
                    <h3 class="text-gray-900 font-semibold text-2xl mt-4 hover:text-orange-500 cursor-pointer">
                        Invités
                    </h3>
                    <p class="text-gray-600">
                        Rencontrez les intervenants et sportifs.
                    </p>
                </a>
            </div>
        </div>
        <section class="bg-gray-100 py-12 text-center">
            <h2 class="text-3xl font-semibold text-gray-900 mb-6">
                Nos partenaires
            </h2>
            <div class="flex justify-center gap-10 flex-wrap">
                <Image
                    src={logo1}
                    alt="Partenaire 1"
                    width={150}
                    height={100}
                    class="rounded-lg shadow-md"
                />
                <Image
                    src={logo2}
                    alt="Partenaire 2"
                    width={150}
                    height={100}
                    class="rounded-lg shadow-md"
                />
                <Image
                    src={logo3}
                    alt="Partenaire 3"
                    width={150}
                    height={100}
                    class="rounded-lg shadow-md"
                />
                <Image
                    src={logo4}
                    alt="Partenaire 4"
                    width={150}
                    height={100}
                    class="rounded-lg shadow-md"
                />
            </div>
        </section>
    </main>
</Layout>