---
import { getImageUrl } from "../js/backend.mjs";
const { activite } = Astro.props;
const imageUrl = getImageUrl(activite, "image");
---

<a
    href={`/activite/${activite.id}`}
    class="block bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300"
>
    <img
        src={imageUrl}
        alt={activite.Titre}
        class="w-full h-48 object-cover"
        loading="lazy"
    />

    <div class="p-4">
        <h2 class="text-xl font-semibold">{activite.Titre}</h2>
        <p class="text-gray-600 text-sm mt-2 line-clamp-3">
            {activite.Description}
        </p>
    </div>
</a>
