---
import pb, { getImageUrl } from "../../js/backend.mjs";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
const Activites = await pb.collection("Activites").getOne(id as string);
const imageUrl = getImageUrl(Activites, "Affiche_sportive");
---

<Layout title={Activites.titre}>
    <div class="max-w-4xl mx-auto py-12 px-6 space-y-8">
        <div class="flex items-center space-x-6">
            <div class="flex-1">
                <h1 class="text-4xl font-bold text-gray-900 mb-4">
                    {Activites.titre}
                </h1>
                <p class="text-lg text-gray-700 mb-6">
                    {Activites.description}
                </p>
                <p class="text-lg text-gray-700 mb-6">
                    {Activites.lieu}
                </p>
                <p class="text-lg text-gray-700 mb-6">
                    {Activites.date_de_sortie}
                </p>
                <p class="text-lg text-gray-700 mb-6">
                    {Activites.genre}
                </p>
            </div>
            <div
                class="flex-shrink-0 w-48 h-72 overflow-hidden rounded-lg shadow-lg"
            >
                <img
                    src={imageUrl}
                    alt={Activites.titre}
                    class="w-full h-full object-cover"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</Layout>
